#
# Rails specific ignores
#

# config
/config/*.sphinx.conf
/config/database.yml
/config/sphinx.yml
/config/george.yml
/config/cucumber.yml
/config/george.ru
/config/elastic_search.yml
/config/nginx.conf
/config/ssl/*
/config/vanity.yml
/config/varnish.vcl
/config/yellowhat.nginx.conf

# public
public/sitemaps/*
/public/stylesheets/compiled/*
/public/cached/all.*

# database
/db/*.sqlite3
/db/sphinx
/db/schema.rb
dump.rdb
db/snapshots/*
db/imports/packages/*

# docs
.yardoc

# vendor
.bundle
/vendor/src/**/*

#
# Non-Rails specific ignores
# 

# source control
.bzr
.hg
.svn

# builds
a.out
*.o
*.pyc
*.so
*.stackdump
*.sw?

# editors
*.tmproj
*_flymake.*
.project
.pydevproject
.settings
.tasks-cache
.rvmrc.*

# typical
/**/*DONTVERSION*
/**/*private*
/**/cache/*
/log/*
/tmp/*
/**/log/*
/**/tmp/*
/coverage
/doc/*
/pkg/*
/rdoc/*

# misc
\#*
.\#*
*~
._*
.DS_Store
Icon?
REVISION
TAGS*
nohup.out
.rvmrc
pkg/*
.sass-cache

vendor/plugins/rails_upgrade
# For local dev environment w/ Foreman
Procfile

config/certs/*

.vendor
.bundle
