%h1 Apeyeye Management Console

%table
  - @protocols.sort.each do |ps_name, protocol|
    - protocol.messages.sort_by{|nm, msg| msg.path }.each do |msg_name, message|
      %tr
        %th= "/"+protocol.path
        - url_method = (params[:layoutless] == true ? :edit_layoutless_protocol_path : :edit_protocol_path)
        %td.name=link_to(protocol.name, send(url_method, protocol.path))
        %td.query ?#{message.query_string}