          <div class='niceform-fake'> 
            <div class='request'> 
              <h3>Sample Request</h3> 
              <pre><span class="verb">GET</span>&nbsp;<span class="link">http://api.infochimps.com/social/network/tw/token/word_stats</span><span class="query-string"></span></pre> 
            </div> 
            <div class='response'></div> 
            <div class='request-doc'> 
              <form action='http://api.infochimps.com/social/network/tw/token/word_stats' method='GET'> 
                <dl> 
                  <dt class='name'> 
                    tok
                  </dt> 
                  <dd class='value'> 
                    <input name='tok' type='text' value='dog' /> 
                  </dd> 
                  <dd class='doc'> 
                  </dd> 
                </dl> 
                <dl> 
                  <dt class='name'>apikey</dt> 
                  <dd class='value'> 
                    <input name='apikey' type='text' value='FAKE_KEY' /> 
                  </dd> 
                  <dd class='doc'>This is your Query API key.  Don't share it!</dd> 
                </dl> 
                <div class='clearfix'></div> 
                <div class='nicebuttons'> 
                  <input type='submit' /> 
                </div> 
              </form> 
            </div> 
          </div> 
